:root {
  --slate-900: #0f172a;
  --slate-800: #1e293b;
  --slate-700: #334155;
  --slate-500: #64748b;
  --slate-400: #94a3b8;
  --slate-200: #e2e8f0;
  --slate-50: #f8fafc;
  --red-500: #ef4444;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: var(--slate-900);
}

html::-webkit-scrollbar-thumb {
  background: var(--slate-500);
  border-radius: 5px;
}

/* Font Family */
@font-face {
  font-family: "Courgette";
  src: url(../../assets/webfont/Courgette/Courgette-Regular.ttf)
    format("truetype");
}

@font-face {
  font-family: "Signika";
  src: url(../../assets/webfont/Signika/Signika-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Signika";
  src: url(../../assets/webfont/Signika/Signika-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Signika";
  src: url(../../assets/webfont/Signika/Signika-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Signika";
  src: url(../../assets/webfont/Signika/Signika-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Signika";
  src: url(../../assets/webfont/Signika/Signika-Light.ttf) format("truetype");
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Signika", sans-serif;
  font-size: 17px;
  font-weight: 300;
  background-color: var(--slate-50);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courgette", sans-serif !important;
  text-align: center;
  color: var(--slate-900);
}

h1 {
  font-size: 50px;
  margin: 20px 0;
  color: var(--slate-50) !important;
}

h2 {
  font-size: 40px;
  margin: 20px 0;
}

main {
  font-size: 20px;
}

/* #beranda, #tentang, #desktop, #biodata {
  transition: all 1.5s linear;
} */

/* Header atau Navbar */
header {
  height: 70px;
  background-color: var(--slate-900);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--slate-50);
  padding: 0 60px;
}

.batas {
  margin: 0 25px 0 35px;
  width: 1px;
  padding: 18px 0;
  background-color: var(--slate-500);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  font-size: 20px;
}

nav > a {
  list-style-type: none;
  margin-right: 25px;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: var(--slate-200);
  border: 1px solid var(--slate-900);
}

nav > a:hover {
  border: 1px solid var(--slate-200);
  color: var(--slate-200);
  box-shadow: 2px 2px 0px 0px rgba(226, 232, 240, 1);
  -webkit-box-shadow: 2px 2px 0px 0px rgba(226, 232, 240, 1);
  -moz-box-shadow: 2px 2px 0px 0px rgba(226, 232, 240, 1);
}
/* Akhir Header atau Navbar */

/* Jumbotron */
.jumbotron {
  padding: 70px;
  background-color: var(--slate-800);
  color: var(--slate-50);
}

.heading > p {
  font-size: 20px;
}

.jumbotron > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
}

.jumbotron > .container > .heading {
  margin: 0 40px;
}
/* AKhir jumbotron */

.border-tumpul {
  border-radius: 8px;
}

section {
  margin: 0 40px 80px 40px;
  color: var(--slate-900);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Tentang */
#tentang > p {
  width: 75%;
  text-align: center;
}
/* Akhir tentang */

/* Desktop art */
#desktop .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#desktop .container figure {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 40px 0 0 0;
  padding: 20px 30px;
  border: 1px solid var(--slate-800);
  border-radius: 8px;
  box-shadow: 6px 6px 0px 0px rgba(30, 41, 59, 1);
  -webkit-box-shadow: 6px 6px 0px 0px rgba(30, 41, 59, 1);
  -moz-box-shadow: 6px 6px 0px 0px rgba(30, 41, 59, 1);
}

#desktop .container figure img,
#desktop .container figure figcaption {
  margin: 10px 15px;
  width: 50%;
}

#desktop > .container > figure > figcaption > ul {
  padding-left: 30px;
}

.row-reverse {
  flex-direction: row-reverse !important;
}

#desktop .container li {
  font-family: "Courgette";
}
/* AKhir desktop art */

/* Biodata */
#biodata > .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  flex-basis: 50%;
  padding: 20px 30px;
  margin: 40px 0 0 0;
  border: 1px solid var(--slate-800);
  border-radius: 8px;
  box-shadow: 6px 6px 0px 0px rgba(30, 41, 59, 1);
  -webkit-box-shadow: 6px 6px 0px 0px rgba(30, 41, 59, 1);
  -moz-box-shadow: 6px 6px 0px 0px rgba(30, 41, 59, 1);
}

#biodata .container li {
  list-style-type: none;
  margin: 0 0 10px 0;
}

#biodata .container li span {
  font-weight: 700;
  font-family: "Courgette";
  font-size: 18px;
  padding: 1px 0;
  border-bottom: 2px solid var(--slate-900);
}

#biodata .container li p {
  margin: 5px 0;
}

#biodata .container img {
  position: relative;
}

#biodata .container img:hover {
  animation: spin 0.1s infinite linear;
}
/* Akhir biodata */

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 40px;
  background-color: var(--slate-900);
  color: var(--slate-200);
}

footer p {
  margin: 8px;
  text-align: center;
}

footer p span {
  color: var(--red-500);
}
/* Akhir Footer */

.tux {
  position: absolute;
  z-index: 0;
  right: 110px;
  top: 140px;
  animation: tux 5s infinite linear;
}

@keyframes tux {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-10px, 10px);
  }
  50% {
    transform: translate(-20px, 20px);
  }
  75% {
    transform: translate(-10px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.ubuntu {
  position: absolute;
  z-index: 10;
  left: 120px;
  top: 275px;
  animation: spin 5s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Balik ke atas */
#atas {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--slate-900);
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 50%;
  border: 1px solid var(--slate-200);
}

#atas:hover {
  background-color: var(--slate-700);
}
/* akhir balik ke atas */
.menu-mobile {
  display: none;
}

/* =====RESPONSIVE=====  */
@media screen and (max-width: 768px) {
  header {
    padding: 0 20px;
  }

  .mobile-hide,
  .ubuntu,
  .tux {
    display: none !important;
  }

  .jumbotron {
    padding: 50px 20px;
  }

  .jumbotron .container img {
    width: 300px !important;
  }

  .jumbotron .container .heading {
    margin: 0 10px;
    text-align: center;
  }

  .menu-mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .menu-mobile a {
    padding: 15px 0;
    border-bottom: 3px solid var(--slate-900);
  }

  .menu-mobile a:hover {
    border-bottom: 3px solid var(--slate-50);
  }

  #desktop .container {
    width: 100%;
  }

  #desktop .container figure {
    flex-direction: column;
    margin: 20px 10px 0 10px;
    width: 90%;
    padding: 8px 13px;
  }

  #desktop .container figure img,
  #desktop .container figure figcaption {
    width: 100%;
  }

  #desktop .container figure figcaption {
    margin: 0 20px 10px 20px;
  }

  #desktop > .container > figure > figcaption > ul {
    padding-left: 35px;
    margin: 10px 0;
  }

  .row-reverse {
    flex-direction: column !important;
  }

  #biodata .container {
    flex-direction: column;
    margin: 20px 0 0 0;
    width: 80%;
    padding: 20px 20px;
  }

  #biodata .container img {
    width: 100%;
  }

  #biodata .container ul {
    margin: 20px 0 0 0;
    padding: 0 8px;
  }

  footer p {
    margin: 5px;
  }

  h1 {
    font-size: 40px;
    margin: 17px 0;
    color: var(--slate-50) !important;
  }

  h2 {
    font-size: 35px;
    margin: 0;
  }

  section {
    margin: 0 10px 50px 10px;
  }

  #tentang p {
    width: 95%;
    text-align: left;
  }
}
